@import url('https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arvo', serif;
}

.container {
    grid-template-areas:
    "nav"
    "title"
    "intro"
}

.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -4em;
    left: 0;
    visibility: hidden;
}

nav {
    margin: 0;
    padding: 0;
    position: fixed;
    grid-area: nav;
    width: 100vw;
    height: 4em;
    background-color:white;
    color: rgb(20, 20, 20);
    z-index: 100;
    /* animation: 1s ease-out 0s 1 navslide; */
}

nav ul {
    font-weight: 700;
    line-height: 4em;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: rgb(82, 82, 82);
}

.title_section{
    display:flex;
    grid-area: title;
    background: url(../img/restaurant.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(243, 243, 243);
    height: 100vh;
    font-family: 'Roboto Mono', serif;
}

.title{
    margin: auto;
    text-align: center;
    width: 40vw;
    padding: 0.5em 0 1em 0;
    background-color: black;
    font-family: 'Roboto Mono', serif;
}

.title h1 {
    font-size: 12vw;
    font-weight: 500;
    line-height: 1em;
}

@media (min-width: 600px) {
    .title{
        width:17em;
    }
    
    .title h1{
        font-size: 5em;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    grid-area: intro;
    position: relative;
    background-color: black;
    color: white;
    padding: 2em 1em;
    text-align:center;
}

.intro img{
    width: 85vw;
}

.intro_about {
    text-align:left;
    padding: 1em 2em;
    font-size: 3.5vw;
}

.intro h1 {
    font-size: 2em;
    font-weight: 500;
    text-decoration: underline;
}
@media (min-width: 600px) {
    .intro_about{
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    .intro {
        flex-direction: row;
    }
    .intro img{
        width: 50vw;
    }

    .intro_about{
        font-size: 1.2vw;
        padding: 0 2em;
    }
}

@media (max-width: 450px) {
    .intro img {
        display: none;
    }
}